<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"


    package="com.demo1.nav"
 >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.demo1.nav.Main.ResetPassword"
            android:label="PasswordChange" ></activity>
        <activity android:name="com.demo1.nav.Main.Interface"
            android:label="Settings "/>
        <activity android:name="com.demo1.nav.Workout.Split.Beginner.Splash" />
        <activity
            android:name="com.demo1.nav.Workout.Split.Beginner.Beg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.demo1.nav.Workout.StartWorkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.demo1.nav.Workout.Split.Beginner.Beginner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.demo1.nav.Workout.Split.split"
            android:label="Workouts" />
        <activity
            android:name="com.demo1.nav.Exercises.Exercise"
            android:label="Exercises" />
        <activity
            android:name="com.demo1.nav.Profil.Profil"
            android:label="Profil"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.demo1.nav.Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo1.nav.Main.SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.demo1.nav.Main.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.demo1.nav.Main.Home"
            android:label="@string/StayFit"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>